<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>INSPINIA | Data Tables</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    <link href="/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" />
    <!-- Toastr style -->
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet" />

    <!-- summernote -->
    <link href="/css/plugins/summernote/summernote-bs4.css" rel="stylesheet" />

    <!-- datepicker -->
    <link href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <!-- time picker -->
    <link href="css/plugins/clockpicker/clockpicker.css" rel="stylesheet" />
    <!-- FooTable -->
    <link href="/css/plugins/footable/footable.core.css" rel="stylesheet" />

    <!-- Dropzone -->
    <link href="/css/plugins/dropzone/basic.css" rel="stylesheet" />
    <link href="/css/plugins/dropzone/dropzone.css" rel="stylesheet" />

    <!-- Stetp -->
    <link href="/css/plugins/steps/jquery.steps.css" rel="stylesheet" />
    <!-- sweet alert -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.min.css"
    />
    <!-- icheck -->
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  
  <body>
    <div id="wrapper">
